@charset "UTF-8";

* {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

header {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: auto;
}

h1, h2 {
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}

body {
    background-color: rgb(226, 221, 193);
}

section {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 40%;
    margin: auto;
}

header, section {
    box-shadow: 2px 2px 5px rgb(190, 186, 161);
}